@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
    background-color: #f5f5f5 !important;
    font-family: 'Raleway';
    color: black;
    
}
.title{
    text-align: center;
    margin-top: 20px
}
#problem{
margin-top: 75px;
}
.mb-3{
    display: inline-block;
    margin-top: 45px;
    margin-left: 30px;

}

.col-auto{
    display: inline-block;
    margin-left: 50px;
}
.mb-35{
    margin-top: -60px;

}


#date{
    margin-top: 40px;
    margin-left: 30px;

}
#example-datetime-local-input{
    width: auto;    
}


.btn{
    margin-top: 60px;
    

}
